/* src/components/Navbar/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--808-black);
  color: #fff;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
